header{
    text-align: center;
}
h1{
    color: aquamarine;
    background: #9cb0b9;
    font-size:150%;
}
body{
    background:url(../imgs/background.png.jpeg);
}
nav{
    font-variant: small-caps;
    font-size: 150%;
    font-family:whitney ssm a,whitney ssm b,lucida grande,lucida sans,Verdana,Helvetica,Arial,sans-serif;
}
h2{
    color: chartreuse;
    background: coral;
}
p{
    font-family:whitney ssm a,whitney ssm b,lucida grande,lucida sans,Verdana,Helvetica,Arial,sans-serif;
    font-size: 75%;
}
ul {
    text-align: center;
    list-style-position: inside;
}
details{
    font-style: italic;
}
footer{
    background: #aecfd4;
}
