@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    transition-duration: 500ms;
}

@layer components{
    .link{
        @apply hover:bg-gray-600 hover:text-yellow-400 transition duration-500 hover:scale-125 px-5 py-2 cursor-pointer rounded;
    }
    .tag{
        @apply inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2;
    }
    .first-gradient-color{
        @apply bg-gradient-to-r from-yellow-700 via-yellow-400 to-yellow-200;
    }
    .second-gradient-color{
        @apply bg-gradient-radial-at-b from-gray-400 via-gray-600 to-gray-900;
    }
    .project-link{
        @apply rounded m-auto px-5 py-2 bg-blue-600 font-bold text-white;
    }
}

@layer utilities {
    .clip-path-slant-down-right {
        clip-path: polygon(41% 0, 100% 0%, 100% 100%, 0% 100%);
    }
}